{% extends 'base.html' %}

{% block head %}
<title>Resume Upload</title>
{% endblock %}

{% block body %}
<div class="container">
    <!-- TODO Replace palceholder with actual values derived from PDF -->
    <form action="action_page.php">
  
      <label for="fname">Full Name</label>
      <input type="text" id="fname" name="fullname" placeholder=''>

      <label for="edu">Education</label>
      <input type="text" id="edu" name="education" placeholder=''>
  
      <label for="skills">Skills</label>
      <input type="text" id="skills" name="skills" placeholder=''>
      
      <label for="phone">Your phone number:</label>
      <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
 
      <label for="exp">Work Experience</label>
      <textarea id="exp" name="workexperience" placeholder="Write something.." style="height:200px"></textarea>
  
      <input type="submit" value="Submit">
  
    </form>
  </div>
<div class="topright">
    <form action="/forward/" method="post">
      <button type="submit" class="btn btn-success topright">Logout</button>
  </form>
</div>
  {% endblock %}